
.collection-hero__title + .collection-hero__description {
    margin-top: 1.5rem; /* 0 11/25 */
    margin-bottom: 3rem; /* 1 */
    font-size: 1.6rem; /* 1.4 */
    line-height: calc(1 + 0.5 / var(--font-body-scale));
  }
  
  @media screen and (min-width: 750px) {
    .collection-hero__title + .collection-hero__description {
      font-size: 1.8rem; 
      margin-top: 0.5rem; /* 2 11/25 */
      margin-bottom: -2.5rem; /* 2 */
    }
  
    .collection-hero__description {
      max-width: 66.67%;
    }
  
    .collection-hero--with-image .collection-hero__description {
      max-width: 100%;
    }
  }
  